{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>
    <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
      <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'CSS/code.css  ' %}">
    {% block css %}{% endblock %}
  </head>
  <body >
    {% block javascript %}{% endblock %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/">先锋博客</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index/">首页<span class="sr-only">(current)</span></a></li>
        <li><a href="/about/">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">小工具<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">正则转换</a></li>
            <li><a href="#">加密解密</a></li>
            <li><a href="#">代码规范</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://mv.688ing.com/">vip视频解析</a></li>
              <li><a href="https://music.laod.cn/">Music</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">工具软件</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {% if request.session.username %}
          <li><a href="/article/edit/">写博客</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.username }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/u/{{ request.session.username }}/">个人中心</a></li>
                <li><a href="/{{ request.session.username }}/myBlog/">我的博客</a></li>
                <li><a href="#">管理博客</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout/">登出</a></li>
            </ul>
          </li>
              {% else %}
              <li><a href="/login/">登录</a></li>
              <li><a href="/register/">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'JS/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

 </body>
</html>
