{% load staticfiles %}

<div>
    <br><br><br>
</div>
<footer class="bg-dark fixed-bottom" >
    <div class="container">
        <div class="row col-12 justify-content-center">
        <div style="text-align: center; color: lightgrey;">
            <p class="mb-0">CopyRight &copy; 2019 先锋的个人网站</p>
            <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">&nbsp;蜀ICP备18018263号-1</span>
            </p>
        </div>
    </div>
    </div>
</footer>