{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block content %}

    <div style="padding: 50px 10px 10px;">
    <div class="row">
        <div class="col-xs-8 col-md-8 ">
            {% for p in post %}
   <div class="list-group" style="height: 100px">
   <div class="list-group-item">
       <span class="badge">New</span>
    <a href="/article/{{ p.author.name}}/{{ p.id }}/" >
        <h4 class="list-group-item-heading">{{ p.title }}</h4>
        </a>
        <p class="list-group-item-text">{{ p.body |safe}}...</p>
        <br>
        <p>{{ p.created_at }}&nbsp|&nbsp 阅读:{{ p.total_view }}
            &nbsp|&nbsp 评论:{{ p.total_comment }}</p>
   </div>
    </div>
{% endfor %}
        </div>
        <div class= "col-xs-4 col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">博客公告</h3>
                </div>
            <div class="panel-body">先锋的博客2019年5月31号正式上线，感谢支持，希望能和大家一起分享交流技术！
                 <div>
                     <img class="img-rounded img-responsive"  src="https://img-blog.csdn.net/20180401145756122" style="width: 280px;height: 280px" alt="">
                 </div>
            </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">关注我的动向</h3>
                </div>
                <div class="panel-body">
                    <a href="https://www.zhihu.com/people/liu-wei-fu-98/activities">
                        <label><img src="{% static 'img/zhihu.svg' %}" alt="" style="width: 60px;height: 60px"></label>
                    </a>
                    <a href="https://weibo.com/u/6562325564/home?wvr=5&sudaref=graph.qq.com&reason=&retcode=">
                        <label><img src="{% static 'img/weibo.svg' %}" alt="" style="width: 60px;height: 60px"></label>
                    </a>
                    <a href=".">
                        <label><img src="{% static 'img/email.svg' %}" alt="" style="width: 60px;height: 60px"></label>
                    </a>
                    <a href="https://github.com/4465">
                        <label><img src="{% static 'img/GitHub.svg' %}" alt="" style="width: 60px;height: 60px"></label>
                    </a>
                    <a href="https://blog.csdn.net/weifuliu">
                        <label><img src="{% static 'img/csdn.svg' %}" alt="" style="width: 60px;height: 60px"></label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
