{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user }}{% endblock %}

{% block content %}
    <div style="padding: 50px 100px 10px;">
        <div class="row" >
            <div class="col-md-4">
                <img class="img-responsive img-circle" src="{% static 'img/bz1.jpg' %}" alt="">
            </div>
            <div class="col-md-7 col-md-offset-1 text-center">
                <h1>Aboout me</h1>
                <div>本科大三学生，现就读于中国地质大学（武汉）网络工程系</div>
                <div>酷爱Python,酷爱爬虫与数据挖掘及分析</div>
                <div>平时爱倒腾各方面技术，Django也是刚上手不足一周，自知界面功能还不咋地，敬请谅解，后续会持续改进</div>

            </div>
        </div>
    </div>
{% endblock %}
